<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!--消费者应用信息-->
    <dubbo:application name="consumer-dubbo"/>

    <!-- 注册中心服务地址 -->
    <dubbo:registry  protocol="zookeeper" address="192.168.192.130:2181"/>

    <!--spirng容器是懒加载，或者通过api编程延迟引用服务，关闭check-->
    <!--否则临时不可用时候，会跑出异常-->
    <dubbo:consumer check="false"/>
    <!--服务列表-->
    <dubbo:reference id="itemCatService" interface="com.taotao.service.api.ItemCatService"/>
</beans>